html,
body {
  margin: 0;
  background-color: gainsboro;
}

.navBar {
  outline: 1px solid #bac9d5;
  display: flex;
  height: 80px;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 50px;
  background-image: linear-gradient(teal, teal, rgba(13, 177, 177, 0.637));
  margin-bottom: 1px;
}

.title {
  align-items: center;
  color: #051527;
  display: flex;
  font-size: 30px;
  font-weight: bold;
  line-height: 30px;
  white-space: nowrap;
}

.counterButton {
  display: flex;
  position: relative;
  margin-top: 50%;
  margin-left: 200%;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  cursor: pointer;
  background-color:  rgba(248, 196, 128, 0.671);
  border: 2px solid rgb(207, 164, 107);
  align-items: center;
  justify-content: center;
  

  &:hover {
    background-color: rgb(248, 196, 128);
  }
}
